
body {
    font-family: "Montserrat";
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}

h3 {
    font-size: 1.27rem;
    font-weight: 600;
}

p {
    color: #8F8F8F;
}

/* Sections */

.colored-section{
    background-color: #FF4C68;
    color: #FFF;
}

.white-section {
    background-color: white;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}

/* Download Buttons */

.downloadButton {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
    padding: 2% 11% 7%;
    text-align: left;
}

.titleImage {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 28%;
}

/* Features Section */

#features {
    position: relative;
    background-color: white;
}

.feature-box{
    padding: 5%;
}

.feature-title {
    font-size: 1.27rem;
    font-weight: 600;
}

.icon {
    color: #EF8172; 
    margin-bottom: 1rem;
}

.icon:hover {
    color: #FF4C68;
}

/* Testimonials */

#testimonials {
    background-color: #EF8172;
}


.testimonial-text {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #EF8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}

/* Footer section */

#footer {
    padding: 7% 15% 0% 15%;
}

.social-icon {
    margin: 20px 10px;
}

.copyright {
    margin-bottom: 7%; 
}

.CVlink {
    color: #EF8172;
    text-decoration: none;
}

.CVlink:hover {
    color: #FF4C68;
    text-decoration: none;
}

/* Headings */

.big-heading {
    font-family: "Montserrat";
    font-size: 3.4rem;
    font-weight: 900;
    line-height: 1.5;
}

.section-heading {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .titleImage {
        position: static;
        transform: rotate(0);
    }
    
}
